{{!-- <h3>Your Posts</h3>
{{#if articles}}
{{#each articles }}
<hr>
<a href="/article/{{_id}}"> {{this.title}}</a><br>

<div class="">
    <a href="/article/edit/{{_id}}">Edit</a>

    <form action="/article/{{_id}}?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
</div>
{{/each}}

{{else}}
<p>You have not created any post yet</p>

{{/if}} --}}
<section class="hero-container">
    {{>header}}
    <div class="hero-title">
        <h2>Dashboard</h2>
    </div>
    <div class="status-container">
        <div class="status-card">
            <p class="count">0</p>
            <p class="text">Total posts</p>
        </div>
        <div class="status-card">
            <p class="count">0</p>
            <p class="text">Total post reactions</p>
        </div>
        <div class="status-card">
            <p class="count">
                < 500</p>
                    <p class="text">Total post views</p>
        </div>

    </div>
    <div class="post-container">
        <div class="post-header">
            <h3>Posts</h3>
        </div>
        {{!-- single post --}}
        <div class="post">
            <div class="post-content">
                <a href="">second post</a>
                <p><span>Published: </span>Jan 9</p>
            </div>
            <div class="post-actions">
                <a href=""><i class="far fa-edit"></i></a>
                <a href=""><i class="far fa-trash-alt"></i></a>
            </div>
        </div>
        {{!-- END of single post --}}

    </div>
</section>