{{>header}}
<section class="body-container">
    <div class="body-content">
        <div class="body-wrapper">
            {{!-- left --}}
            <div class="body-left-container">
                {{#unless loggedUser}}
                {{!-- Guest user view --}}
                <div class="sign-up-container">
                    <div class="sign-up-content">
                        <h4><span>Let's Build</span> a community of amazing developers join us</h4>
                        <p>We're a place where coders share, stay up-to-date and grow their careers.</p>
                    </div>
                    <a href="/auth/google" class="account-btn">Create new account</a>
                </div>
                {{/unless}}

                <div class="quick-links">
                    <a href="" class="selected">Home</a>
                    <a href="/article/new">Write</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>

            {{!-- post content --}}
            <div class="post-container">
                <div class="post-top">
                    <h2>Posts</h2>
                    <div class="post-links">
                        <a href="" class="feed btn_active">Feed</a>
                        <a href="" class="weekly">Week</a>
                        <a href="" class="monthly">Month</a>
                    </div>
                </div>
                <div class="post-content">

                    {{!-- single card --}}
                    {{#if articles}}
                    {{#each articles}}
                    <div class="card">
                        <div class="row">
                            {{!-- if index is zero (first item) show cover image --}}
                            {{#unless @index}}
                            <div class="imgBx">
                                <img class="card-img" src="/uploads/cover-images/{{this.cover_image}}"
                                    alt="Card image cap">
                            </div>
                            {{/unless}}
                            <div class="desc">
                                <div class="user">
                                    <div class="user-img">
                                        {{#if this.user.image}}
                                        <img src="{{this.user.image}}">
                                        {{else}}
                                        <img src="/images/profile_thumb.png">
                                        {{/if}}
                                    </div>
                                    <div class="user-desc">
                                        <a href="#" class="name">{{this.user.displayName}}</a>
                                        <a href="#" class="date">{{getFormatedDate this.createdAt}} ({{getRelativeDate
                                            this.createdAt}})</a>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h3><a href="/article/{{this._id}}">{{this.title}}</a></h3>
                                    <div class="card-footer">
                                        {{#if this.reactionCount}}
                                        <a href="/article/{{this._id}}">
                                            <span><i class="fas fa-heart"></i></span>
                                            <span class="count">{{this.reactionCount}}</span>reactions
                                        </a>
                                        {{/if}}
                                        {{#if this.commentCount}}
                                        <a href="/article/{{this._id}}/#discussion">
                                            <span><i class="far fa-comment-alt"></i></span><span
                                                class="count">{{this.commentCount}}</span>
                                            comments </a>
                                        {{else}}

                                        <a href="/article/{{this._id}}/#discussion">
                                            <span><i class="far fa-comment-alt"></i></span><span class="count"></span>
                                            Add Comment </a>
                                        {{/if}}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}
                    {{!-- END single card --}}

                </div>
            </div>

            {{!-- right --}}
            <div class="body-right-container">
                <div class="body-right">
                    <div class="resources-container">
                        <div class="resources-card">
                            <div class="row-right">
                                <div class="img-right">
                                    <img src="./images/coding.png">
                                </div>
                                <div class="resouces-content">
                                    {{!-- <p>More Contents</p> --}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>



    </div>
</section>



{{!-- single post --}}
{{!-- {{#if articles}}
{{#each articles}}
<p>{{this.title}}</p>
<p>{{this.status}}</p>
<p>{{this.body }}</p>
<p>{{user.image }}

    {{/each}}
    {{/if}} --}}