<div class="hero-container">
    {{>header}}

    {{#if article}}
    <div class="main-container">
        <div class="fixed-wrapper">
            <div class="aside-left-content">
                <div class="reac-container">
                    {{#if article.isReacted}}
                    <span class="logo active"><i class="fas fa-heart"></i></span>
                    {{else}}
                    <span class="logo"><i class="fas fa-heart"></i></span>
                    {{/if}}
                    <span class="reac_count">{{article.reactionCount}}</span>
                </div>
            </div>
            {{!-- right side content --}}
            <div class="aside-right-content">
                <div class="creator-card">
                    <div class="colored-bar">
                        <div class="creator-imgBx">
                            <a href=""> <img src="{{article.user.image}}"></a>
                        </div>
                    </div>
                    <div class="creator-section">
                        <a href="">
                            <h2>{{article.user.displayName}}</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-wrapper">
            <div class="main-content">

                {{!-- Post --}}
                <div class="post-wrapper">
                    {{!-- cover image --}}
                    <div class="cover-imgBx">
                        <img src="/uploads/cover-images/{{article.cover_image}}">
                    </div>

                    {{!-- post content --}}
                    <div class="post-content">
                        <div class="post-title">
                            <h1>{{article.title}}</h1>
                        </div>
                        <div class="writer-block">
                            <div class="writer-imgBx">
                                <a href=""> <img src="{{article.user.image}}"></a>
                            </div>
                            <div class="writer-desc">
                                <a class="name" href="">{{article.user.displayName}}</a>
                                <p>{{getFormatedDate article.createdAt}}</p>
                            </div>
                        </div>
                        {{!-- editorjs start --}}
                        <div class="editor-content">
                            <div id="editorjs">

                            </div>
                        </div>
                    </div>
                </div>

                {{!-- discussion --}}
                <div class="dis_container">
                    <div class="dis_head">
                        <h3>Discussion</h3>
                        {{!-- <a class="post_btn" href="">Subscribe</a> --}}
                    </div>
                    <div class="dis_input">
                        <div class="user_imgBx">
                            {{#if user}}
                            <img src={{user.image}} alt="user-image">
                            {{else}}
                            <img src='/images/thumb.png' alt="user-image">
                            {{/if}}
                        </div>
                        <div class="dis_text">
                            <textarea class="dis_textarea" placeholder="Add to the discussion"></textarea>
                            <div class="dis_btn_container">
                                <a href=" " class="submit_btn">Submit</a>
                            </div>
                        </div>
                    </div>
                    <div class="dis_card_wrapper">

                        {{#if comments}}
                        {{#each comments}}
                        {{!-- single comment start --}}
                        <div class="dis_content">
                            <div class="dis_card">
                                <div class="dis_wrapper">
                                    <div class="writer_imgBx">
                                        <img src="{{this.creator.image}}" alt="user-image">
                                    </div>
                                    <div class="writer_content">
                                        <div class="writer_head">
                                            <div class="writer_title">
                                                <h6>{{this.creator.displayName}} </h6>
                                                <div class="seperator">
                                                    <p><i class="fas fa-circle"></i></p>
                                                </div>
                                                <p class="date"> </p><span>{{getFormatedDate
                                                    this.comment.createdAt}}</span>
                                            </div>

                                            {{!-- show manage option if user is creator --}}
                                            {{#isCreator this.creator._id ../user._id}}
                                            <div class="action_container">
                                                <div class="action">
                                                    <span>...</span>
                                                    <div class="action_options">
                                                        <a class="comment_edit_btn"
                                                            href="/comments/edit/{{../article._id}}/{{this.comment._id}}">Edit</a>
                                                        <form action="/api/comments/{{this.comment._id}}?_method=DELETE"
                                                            method="POST">
                                                            <button type="submit">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/isCreator}}

                                        </div>
                                        <p class="comment">{{this.comment.text}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="reac_container">
                                <div class=" reac_wrapper" data-comment_id={{this.comment._id}}>
                                    <div class="reac_link">

                                        {{!-- check for reaction --}}
                                        {{#if this.isReacted}}
                                        <a href="" class="like active"><span><i class="fas fa-heart"></i></span><span
                                                class="count">
                                                {{this.reactionCount}}
                                            </span>Like</a>
                                        {{else}}
                                        <a href="" class="like"><span><i class="fas fa-heart"></i></i></span><span
                                                class="count">{{this.reactionCount}}</span>Like</a>
                                        {{/if}}

                                        <a class="reply" href="">
                                            <span> <i class="far fa-comment-alt"></i>
                                            </span>Reply</a>
                                    </div>
                                    {{!-- single comment end --}}

                                    {{!-- single reply start --}}
                                    {{#if this.replies}}
                                    {{#each this.replies}}
                                    <div class="reply_wrapper">
                                        <div class="reply_card">
                                            <div class="reply_writer_imgBx">
                                                <a href="">
                                                    <img src="{{this.creator.image}}" alt="reply_user-image">
                                                </a>
                                            </div>
                                            <div class="reply_writer_content">
                                                <div class="reply_writer_head">
                                                    <div class="reply_writer_title">
                                                        <a href="">
                                                            <h6>{{this.creator.displayName}}</h6>
                                                        </a>
                                                        <div class="reply_seperator">
                                                            <p><i class="fas fa-circle"></i></p>
                                                        </div>
                                                        <p class="reply_date"> </p><span>{{getFormatedDate
                                                            this.createdAt}}</span>
                                                    </div>
                                                    {{!-- <div class="reply_action">
                                                        <p>...</p>
                                                    </div> --}}
                                                </div>
                                                <p class="reply_comment">{{this.text}}</p>
                                            </div>
                                        </div>
                                        <div class="reply_reac_container">
                                            {{#if this.isReacted}}
                                            <a href="" class="reply_like active" data-comment_id={{../this.comment._id}}
                                                data-reply_id="{{this.id}}">
                                                <span><i class="fas fa-heart"></i></span>
                                                <span class="count">{{this.reactionCount}}</span>
                                                Like
                                            </a>
                                            {{else}}
                                            <a href="" class="reply_like" data-comment_id={{../this.comment._id}}
                                                data-reply_id="{{this.id}}">
                                                <span><i class="fas fa-heart"></i></span>
                                                <span class="count">{{this.reactionCount}}</span>
                                                Like
                                            </a>
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{/each}}
                                    {{/if}}
                                    {{!-- single reply end --}}

                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>

                </div>
            </div>
        </div>
        <div class="login_modal">
            <div class="close_container">
                <span class="close_btn"><i class="fas fa-times"></i></span>
            </div>
            <div class="modal_content">
                <h3>Login to continue</h3>
                <p>We're a place where coders share, stay up-to-date and grow their careers.</p>
                <a href="/auth/google">Sign Up/Log In</a>
            </div>
        </div>

    </div>
    <div class="login_overlay">
    </div>
</div>

{{/if}}

{{>footer}}
{{!-- moment js --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" async defer
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
    crossorigin="anonymous"></script>
</div>